* {
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    margin: 0;
    background-color: #f4f6f8;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
    background-color: #2d8b51;
    color: white;
    padding: 20px;
    text-align: center;
}
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
section {
    margin-bottom: 20px;
}
button {
    padding: 10px 10px;
    cursor: pointer;
}
img {
    width: 200px;
    margin-top: 20px;
}
#texto {
    font-weight: bold;
    margin-top: 15px;
}
